/* Default style for String list items dropdown */

.SivStringList {
  margin-left:10px;
  margin-right:10px;  
}

.sivStringListItem
{
  padding-top:3px;
  padding-bottom:2px;
}

/* We nest our text field*/
.sivStringListItem > span {
  -moz-appearance: textfield;
  position:relative;
  padding: 1px;
  padding-top:3px;
}

.sivStringListItem > span > input {
  -moz-appearance: none !important;
  border:none;
  width:100%;
  min-width: 150px;
}

/* the containter for our icons */
.sivStringListItem > span > span {
 position:absolute;
 top:0;
 right:0;
 margin-top:2px;
 background-color: red;
}

.sivStringDrop,
.sivStringAdd,
.sivStringRemove {
  width: 16px;
  height:16px;
  vertical-align: middle;
  background-repeat:no-repeat;
  background-position:center center; 
  background-color: -moz-Field;
}

.SivStringList .sivStringListItem:hover:last-child .sivStringAdd {
  background-image: url('listitem.add.png');
  display:inline-block;
}

.SivStringList .sivStringListItem:hover:not(:only-of-type) .sivStringRemove {
  background-image: url('listitem.delete.png');
  display:inline-block;
}

.SivStringList .sivStringListItem:hover .sivStringDrop {
  background-image: url('listitem.drop.png');
  display:inline-block;
}

.sivStringListItem select {
  z-index:500; 
  position: absolute;
  left: 1px;
  top: 100%;
  width: 100%;
  border: 1px outset black !important;
  border-left-width: 2px ! important;  
  overflow:-moz-scrollbars-none !important;
}