  .dialog {
     background-color: #EEEEEE;
  }

.dialog input[type=text],
.dialog input[type=email],
.dialog input[type=number] {
  height: 13px;
  margin-top: 8px;
  margin-bottom: 4px;
  padding-bottom: 4px;
  /*line-height:48px;*/
  font-size: 13px;
  border: none;
  border-bottom: 1px solid black;
  background-color: #EEEEEE;
}

.dialog input[type=number] {
  width: 50px;
  text-align: right;
}     

.dialog input[type=text],
.dialog input[type=email] {  
  min-width: 300px
}

  .dialog-header {
    border-bottom: 1px solid #E3E3E3; 
     background-color: #607D8B;
  }

   .dialog-tab  {
      color:#757575; 
      font-weight: 500; 
      height:64px; 
      padding:0px; 
      margin:0px; 
      display:flex; 
      justify-content:center; 
      width:100%;
    }
    
    .dialog-tab > div {
      color: rgba(255,255,255,0.7);
      min-width:160px;
      max-width: 264px;
      height:48px;
      /*padding-left: 12px;
      padding-right:12px;*/
      text-align:center;
      font-size: 15px;
      vertical-align: middle;
      /*display: inline-block;*/
      line-height: 48px;
      margin-top:16px;
      flex:1;
    }
    
     .dialog-tab > div.tab-active {
      color: #FFFFFF;
       height:46px;  
       border-bottom: 2px solid #FFFFFF;
     }
     
     .dialog-tab-content {
       max-height:400px;
        overflow: auto;
        padding-left:16px; 
        padding-right:16px;
     }
     
     .dialog-tab-content > div {
       display: none;
       padding-bottom: 30px;
     }
     
     .dialog-tab-content  > div.tab-active {
       display: inherit;     
     }
     
     #sivDialogContent {
       padding:0px;
     }
	 
.dialog-tab-content h1 {
  font-size: 13px;
  color: rgba(0,0,0,0.53);
}

.dialog-tab-content {
  padding-bottom : 16px;
  /*min-height: 300px;*/
}
