<div>
  <div id="test42">
    <div>
      <div class="form-row align-items-center mt-2">
        <div class="col-auto">
          <div class="custom-control custom-radio mr-sm-2">
            <input type="radio"
            class="custom-control-input sieve-matchtype-radio"
            name="sieve-matchtype"
            data-matchtype="match-type/regex"
            value=":regex"
            id="sieve-matchtype-regex">
            <label class="custom-control-label" for="sieve-matchtype-regex">
              <h5>... regex matches ...</h5>
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <small class="ml-4">Matches and compares using on a regular expression as defined in IEEE.1003-2.1992</small>
      </div>
    </div>
  </div>
</div>