
SieveScript 
{
	font-family: Georgia, Bitstream Vera, Serif;
  display: block;
}

SieveScriptName 
{
	color: #666;
  display:block; 
  font-weight:bold; 
   
  font-size: 18pt;  
  border-bottom: 1pt dotted #bbb;
  margin-bottom: 10pt;
}

SieveScriptLine
{
	display:block;
	font-size: 10pt;
	white-space: pre-wrap;
}

