@import url("chrome://messenger/skin/");
@import url("chrome://global/skin/toolbar.css");


textbox.sieve
{
   -moz-appearance: none !important;
   background: url(chrome://sieve/content/images/splitter.png) repeat-y 650px 0px;    
   background-color: -moz-field !important;
   font-family: monospace;   
   color: -moz-fieldtext; 
   font-size: 12px;
 }
 
#sideBarTitle2
{
	height: 20px;
	background: url(chrome://sieve/content/images/sidebarTitle.png) repeat;
	-moz-appearance: none;	
}

.sieveSideBar stack image
{
	list-style-image: url(chrome://sieve/content/images/sidebarTitle.png);
}

.sieveSideBar deck image
{
	background: url(chrome://sieve/content/images/load.gif) no-repeat center;
	background-color: white;
}

.sieveSideBar stack
{
	margin: 0px;
	padding: 0px;	
  height: 20px;
}

#imgErrorBar
{
	padding: 5px;
}
#vbServerDetails spacer {
  background-color: #FFFFFF;
  opacity: 0.5;
}

#vbServerDetails textbox {
  background-color: transparent;
}

#btnServerDetails 
{
	border: 0px !important;
  background-color: transparent;
  -moz-appearance: none;
}

#btnServerDetails description
{
	border:1px solid #0000ff;
}

 .toolbarbutton-1[type="menu"] {
    -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#menu-vertical") !important;
 }

.toolbarbutton-1 
{
   -moz-box-orient: vertical;
   min-width: 0px;
   list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.png");
}

#btnTools
{
	list-style-image: url(chrome://sieve/content/images/toolbar.tools.png);
}

#btnReference
{
	list-style-image: url(chrome://sieve/content/images/toolbar.reference.png);
}


.sieveCloseButton 
{
  border: 1px solid transparent;
  width: 17px;
  height: 17px;
  background: url(chrome://sieve/content/images/close.png) no-repeat 0 0;
  margin-right: 5px;
}

.sieveCloseButton:hover 
{
    background-image: url(chrome://sieve/content/images/closeHover.png);
}

.sieveCloseButton:hover:active 
{
    background-image: url(chrome://sieve/content/images/closeActive.png);
}