
div.SieveOptions
{
  display:none;
  float:left;
}

div.SieveDiscardText
{
  float:left;
}

div.SieveOptionsAdd
{
  width: 16px;
  height: 16px;
  background-image: url("chrome://sieve/content/images/add.png");
  background-position: center center;
  background-repeat: no-repeat;
  float:left;
}

div.SieveOptionsDelete
{
  width: 16px;
  height: 16px;
  background-image: url("chrome://sieve/content/images/delete.png");
  background-position: center center;
  background-repeat: no-repeat;
  float:left;
}
