
div.SieveOptions
{
  position: relative; 
  top:0px; 
  width:100%; 
  height:20px;
  background: #E8E8E8;
	display:none;  
}

div.SieveOptionsAdd
{
	width: 16px;
	height: 16px;
	background-image: url("chrome://sieve/content/images/add.png");
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;

	right: 25px;
	top: 2px;
}

div.SieveOptionsDelete
{
	width: 16px;
	height: 16px;
	background-image: url("chrome://sieve/content/images/delete.png");
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	right: 5px;
	top: 2px;
}

div.SieveRedirect 
{
  margin-left:20px;
  width: 400px;
  border: 0px solid #E8E8E8;
}

