<div>
    <ul id="template-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#sieve-widget-setflag" role="tab">Set Flag</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#sieve-widget-help" role="tab">Help</a>
        </li>
    </ul>

    <div id="template-content">
        <div class="tab-content m-2">
            <div class="tab-pane fade show active" id="sieve-widget-setflag" role="tabpanel">

                <div class="form-group">
                    <h5>Set the following IMAP Flags ... </h5>
                    <small class="form-text text-muted">
                        It replaces any previously set flags.
                    </small>
                    <div id="sivFlagKeywordList"
                         data-list-dropdown="#sivFlagKeywordListTemplate">
                    </div>

                    <div id="sivFlagKeywordListTemplate" class="d-none">
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">\Seen</button>
                            <button class="dropdown-item" type="button">\Answered</button>
                            <button class="dropdown-item" type="button">\Flagged</button>
                            <button class="dropdown-item" type="button">\Delete</button>
                            <button class="dropdown-item" type="button">\Draft</button>
                            <button class="dropdown-item" type="button">\Recent</button>
                            <button class="dropdown-item" type="button">\$Label1</button>
                            <button class="dropdown-item" type="button">\$Label2</button>
                            <button class="dropdown-item" type="button">\$Label3</button>
                            <button class="dropdown-item" type="button">\$Label4</button>
                            <button class="dropdown-item" type="button">\$Label5</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="sieve-widget-help" role="tabpanel">
                <p>
                    Setflag is used for setting system flags, it replaces any previously set flags.
                </p>
                <p>
                    Message labels are called flags in the IMAP specification and are divided into two types: system flags and user-defined flags.
                </p>
                <p>
                    System flags are defined in the IMAP Specification. They start with a leading backslash (\). The current the following six
                    system flags \Seen , \Answered, \Flagged, \Deleted, \Draft, \Recent are defined.
                </p>
                <p>
                    User-defined flags are also known as IMAP keywords and, as the name implies, are defined by IMAP users. There is a de facto
                    standard that keywords which are in common use have names that begin with a dollar sign ($).
                </p>
                <p>
                    Examples of common keywords are: $Label1, $Label2, $Label3, $Label4, $Label5. These keywords are typically hardwired to Important,
                    Work, Personal, To Do and Later.
                </p>
                <p>
                    If you define your own personal keyword, its name should not begin with dollar sign ($) or backslash (\) because otherwise
                    it might collide with a flag that is used by current or future IMAP clients and servers
                </p>

            </div>
        </div>
    </div>
</div>