<div>
  <br />

  <div class="mb-3">

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="sivFlagsCheckbox" />
      <label class="form-check-label" for="sivFlagsCheckbox" data-i18n="flags.label"></label>

      <p class="form-text" data-i18n="flags.text"></p>

      <div id="sivFlagKeyList" data-list-dropdown="#sivFlagKeyListTemplate">
      </div>

      <div id="sivFlagKeyListTemplate" class="d-none">
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">\Seen</button>
          <button class="dropdown-item" type="button">\Answered</button>
          <button class="dropdown-item" type="button">\Flagged</button>
          <button class="dropdown-item" type="button">\Delete</button>
          <button class="dropdown-item" type="button">\Draft</button>
          <button class="dropdown-item" type="button">\Recent</button>
          <button class="dropdown-item" type="button">\$Label1</button>
          <button class="dropdown-item" type="button">\$Label2</button>
          <button class="dropdown-item" type="button">\$Label3</button>
          <button class="dropdown-item" type="button">\$Label4</button>
          <button class="dropdown-item" type="button">\$Label5</button>
        </div>
      </div>
    </div>
  </div>
</div>