/* Show it is fixed to the top */
/*body {
  min-height: 75rem;
  padding-top: 4.5rem;
}*/

html,
body {
  height: 100%;
  /* Seite soll über volle Höhe gehen */
  color: #aaa;
  /* graue Textfarbe */
  overflow: hidden;
  height: 100%;
}


#ctx {
  display: inline-flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

#myTabContent>* {
  height: 100%;
  width: 100%;
  border: 0;
}

#myTabContent {
  display: inline-flex;
  height: 100%;
  width: 100%;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  vertical-align: bottom;
}

.list {
  position: absolute;
  left: 0px;
  bottom: 0px;
  min-width: 3000px;
  margin-top: 0px;
}

.list li {
  display: table-cell;
  position: relative;
  text-align: center;
  cursor: grab;
  cursor: -webkit-grab;
  color: #efefef;
  vertical-align: bottom;
}

.scroller {
  text-align: center;
  cursor: pointer;
  display: none;
  padding: 7px;
  padding-top: 11px;
  white-space: no-wrap;
  vertical-align: middle;
  background-color: #fff;
}

.scroller-right {
  float: right;
}

.scroller-left {
  float: left;
}
