<div>
  <div id="test42">
    <div class="custom-control custom-radio">
      <input type="radio" id="cbxUniqueId" name="sieve-unique" class="custom-control-input" />
      <label class="custom-control-label" for="cbxUniqueId">
          ... is provided:
      </label>
      <small class="form-text text-muted">
        Using a static string does not sound too usefull. But in combination with sieve variables, the string
        will get virtually dynamic. And you are able to create almost any unique id pattern to match against.
      </small>

      <input id="txtUniqueId" type="text" class="form-control col-lg-8" />

    </div>
  </div>
</div>