<div>
  <div id="test42">
    <div class="custom-control custom-radio">
      <input type="radio" id="sivUniqueHeader" name="sieve-unique" value=":header" class="custom-control-input" />
      <label class="custom-control-label" for="sivUniqueHeader">
          ... extracted from the header named:
      </label>
      <small class="form-text text-muted">
        By default the message id will be extracted from the "message-id" header.
        It is assumed but not guaranteed to be gobally unique
      </small>

      <input id="sivUniqueHeaderName" type="text" class="form-control col-lg-8" />
    </div>
  </div>
</div>