<div>
  <ul id="template-tabs">
    <li class="nav-item">
      <a data-i18n="string.tab.home" class="nav-link active" data-toggle="tab" href="#sieve-widget-stringtest"
        role="tab"></a>
    </li>
    <li class="nav-item">
      <a data-i18n="string.tab.advanced" class="nav-link" data-toggle="tab" href="#sieve-widget-advanced"
        role="tab"></a>
    </li>
    <li class="nav-item">
      <a data-i18n="string.tab.help" class="nav-link" data-toggle="tab" href="#sieve-widget-help" role="tab"></a>
    </li>
  </ul>

  <div id="template-content">
    <div class="tab-content m-2">
      <div class="tab-pane fade show active" id="sieve-widget-stringtest" role="tabpanel">

        <div class="mb-3">
          <h5 data-i18n="string.variables"></h5>
          <div id="sivVariablesSourceList"></div>

          <br />
          <div id="sivVariablesMatchTypes"></div>
          <br />

          <h5 data-i18n="string.keywords"></h5>
          <div id="sivVariablesKeyList" data-list-min="1"></div>
        </div>
      </div>
      <div class="tab-pane fade" id="sieve-widget-advanced" role="tabpanel">
        <div id="sivVariablesComparator"> </div>
      </div>
      <div data-i18n="string.help" style="white-space: pre-line" class="tab-pane fade" id="sieve-widget-help"
        role="tabpanel">
      </div>
    </div>
  </div>
</div>