<div>
  <div class="mb-3 sieve-modifier">

    <div class="form-check">
      <input type="checkbox" name="modifier/40" class="form-check-input" id="cbxModifier40" />
      <label class="form-check-label" for="cbxModifier40">
        <div data-i18n="set.case"></div>
        <small data-i18n="set.case.text" class="form-text text-muted"></small>
      </label>

      <div id="divModifier40">
        <div class="form-check">
          <input type="radio" id="cbxModifierUpper" name="modifier/40/" value=":upper" class="form-check-input"
            checked="checked" />
          <label data-i18n="set.case.upper" class="form-check-label" for="cbxModifierUpper"></label>
        </div>
        <div class="form-check">
          <input type="radio" id="cbxModifierLower" name="modifier/40/" value=":lower" class="form-check-input" />
          <label data-i18n="set.case.lower" class="form-check-label" for="cbxModifierLower"></label>
        </div>
      </div>
    </div>

  </div>
</div>