<div>
  <div class="mb-3 sieve-modifier">

    <div class="form-check">
      <input type="checkbox" class="form-check-input" name="modifier/30" id="cbxModifier30" />
      <label class="form-check-label" for="cbxModifier30">
        <div data-i18n="set.first"></div>
        <small data-i18n="set.first.text" class="form-text text-muted"></small>
      </label>

      <div id="divModifier30">
        <div class="form-check">
          <input type="radio" id="cbxModifierUpperfirst" name="modifier/30/" value=":upperfirst" class="form-check-input"
            checked="checked" />
          <label data-i18n="set.first.upper" class="form-check-label" for="cbxModifierUpperfirst"></label>
        </div>
        <div class="form-check">
          <input type="radio" id="cbxModifierLowerFirst" name="modifier/30/" value=":lowerfirst" class="form-check-input" />
          <label data-i18n="set.first.lower" class="form-check-label" for="cbxModifierLowerFirst"></label>
        </div>
      </div>
    </div>

  </div>
</div>