<div>
  <div id="test42">
    <div class="custom-control custom-radio">
      <input type="radio" id="sivAddressPartDetail" name="sieve-addresspart" value=":detail" class="custom-control-input" />
      <label class="custom-control-label" for="sivAddressPartDetail">
        <h5>... a detail sub-part with ...</h5>
        <small class="form-text text-muted">
          Everything between the + sign and the @ sign, or before a -- sequence.
          <br /> The localpart part is case sensitive.
          <br /> e.g.: "user+detail@example.com" or "detail--user@example.com" is stripped to "detail"
        </small>
      </label>
    </div>
  </div>
</div>