<div>
  <div id="test42">
    <div class="custom-control custom-radio">
      <input type="radio" id="sivBodyTransformContent" name="sieve-bodytransform" value=":content" class="custom-control-input" />
      <label class="custom-control-label" for="sivBodyTransformContent">
        Match against the MIME parts that have the specified content types:
      </label>

      <div id="sivBodyTransformContenType" data-list-new="#sivBodyTransformContenTypeAdd" data-list-template="#sivBodyTransformContenTypeTemplate" data-list-min="1">
      </div>

      <div>
          <button id="sivBodyTransformContenTypeAdd" class="btn btn-sm btn-outline-secondary">Add</button>
      </div>

    </div>
    <div id="sivBodyTransformContenTypeTemplate" style="display:none">
      <div class="input-group input-group-sm mb-1">
        <input type="text" class="form-control col-lg-8" />
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary far sieve-stringlist-delete">
            &#xf2ed;
          </button>
        </div>
      </div>
    </div>
  </div>
</div>