<div>
  <div id="test42">
    <br />
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="sivCopyCheckbox" />
      <label class="custom-control-label" for="sivCopyCheckbox">Keep a copy</label>

      <small class="form-text text-muted">
        By default the action cancels the implicit keep statement. So that it won't be
        stored in the inbox after processing. When activating a copy of the original
        message is kept in the inbox.
      </small>
    </div>
  </div>
</div>