<div>
  <div class="form-check">
    <input type="radio" id="sivSpamtestRadio" name="customRadio" class="form-check-input">
    <label data-i18n="spamtest.absolute.label" class="form-check-label" for="sivSpamtestRadio"></label>

    <div data-i18n="spamtest.absolute.text" class="form-text"></div>
    <div id="sivSpamtestValue" data-list-dropdown="#sivSpamtestTemplate">
    </div>
  </div>

  <div id="sivSpamtestTemplate" class="d-none">
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item" type="button" data-value="0">0
        <small data-i18n="spamtest.absolute.nottested" class="text-muted"></small>
      </button>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" type="button" data-value="1">1
        <small data-i18n="spamtest.absolute.nospam" class="text-muted"></small>
      </button>
      <div class="dropdown-item" data-value="5">
        <div>
          <span class="sivSpamtestRangeValue">5</span>
          <small data-i18n="spamtest.absolute.likelyspan" class="text-muted"></small>
        </div>
        <input type="range" class="form-range sieve-string-dropdown-updatable" min="2" max="9" value="5"
          data-update-element=".sivSpamtestRangeValue">
      </div>
      <button class="dropdown-item" type="button" data-value="10">10
        <small data-i18n="spamtest.absolute.spam" class="text-muted"></small>
      </button>
    </div>

  </div>

  <div class="form-check">
    <input type="radio" id="sivSpamtestPercentRadio" name="customRadio" class="form-check-input">
    <label data-i18n="spamtest.percent.label" class="form-check-label" for="sivSpamtestPercentRadio"></label>

    <div data-i18n="spamtest.percent.text" class="form-text"></div>

    <div id="sivSpamtestPercentValue" data-list-dropdown="#sivSpamtestPercentTemplate">
    </div>
  </div>

  <div id="sivSpamtestPercentTemplate" class="d-none">
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item" type="button" data-value="0">0%
        <small data-i18n="spamtest.percent.nospam" class="text-muted"></small>
      </button>
      <div class="dropdown-divider"> </div>
      <div class="dropdown-item" data-value="50">
        <div><span class="sivSpamtestRangeValuePercent">50</span>%
          <small data-i18n="spamtest.percent.likelyspan" class="text-muted"></small></div>
        <input type="range" class="form-range sieve-string-dropdown-updatable" min="1" max="99" value="50"
          data-update-element=".sivSpamtestRangeValuePercent">
      </div>
      <div class="dropdown-divider"> </div>
      <button class="dropdown-item" type="button" data-value="100">100%
        <small data-i18n="spamtest.percent.spam" class="text-muted"></small>
      </button>
    </div>

  </div>
</div>