<div>
  <ul id="template-tabs">
    <li class="nav-item">
      <a data-i18n="spamtest.tab.home" class="nav-link active" data-toggle="tab" href="#sieve-widget-spamtest" role="tab"></a>
    </li>
    <li class="nav-item">
      <a data-i18n="spamtest.tab.advanced" class="nav-link" data-toggle="tab" href="#sieve-widget-advanced" role="tab"></a>
    </li>
    <li class="nav-item">
      <a data-i18n="spamtest.tab.help" class="nav-link" data-toggle="tab" href="#sieve-widget-help" role="tab"></a>
    </li>
  </ul>

  <div id="template-content">
    <div class="tab-content m-2">
      <div class="tab-pane fade show active" id="sieve-widget-spamtest" role="tabpanel">

        <div class="mb-3">
          <h5 data-i18n="spamtest.spamscore"></h5>
          <br />
          <div id="sivSpamtestMatchTypes"> </div>
          <br />

          <div id="sivSpamtestPlaceholder"> </div>

        </div>
      </div>
      <div class="tab-pane fade" id="sieve-widget-advanced" role="tabpanel">
        <div id="sivSpamtestComparator"> </div>
      </div>
      <div data-i18n="spamtest.help" style="white-space: pre-line" class="tab-pane fade" id="sieve-widget-help" role="tabpanel"></div>
    </div>
  </div>
</div>