<div id="test42">
  <div class="dropdown-item" href="#">
    <div class="form-row">
      <h5 class="col-auto">... is </h5>
      <div class="col-auto">
        <select class="form-control form-control-sm sieve-matchtype-value-relational">
          <option value=':value "gt"'>greater than</option>
          <option value=':value "ge"'>greater than or equal</option>
          <option value=':value "lt"'>less than</option>
          <option value=':value "le"'>less than or equal</option>
          <option value=':value "eq"'>equal to</option>
          <option value=':value "ne"'>not equal to</option>
        </select>
      </div>
        <h5 class="col-auto">...</h5>
    </div>


    <small class="form-text text-muted">
        Compares the relation between strings. The test is considered true if any pair is true
    </small>
  </div>
</div>