<div id="test42">
  <div class="dropdown-item" href="#">
    <div class="form-row">
      <h5 class="col-auto">... has</h5>
      <div class="col-auto">
        <select class="form-control form-control-sm sieve-matchtype-count-relational">
          <option value=':value "gt"'>greater than</option>
          <option value=':value "ge"'>greater than or equal</option>
          <option value=':value "lt"'>less than</option>
          <option value=':value "le"'>less than or equal</option>
          <option value=':value "eq"'>equal to</option>
          <option value=':value "ne"'>not equal to</option>
        </select>
      </div>
      <h5 class="col-auto">items ...</h5>
    </div>


    <small class="form-text text-muted">
      Counts the number of entities and compares them to the given value
    </small>
  </div>
</div>