<div>
    <ul id="template-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#sieve-widget-metadataexiststest" role="tab">Meta Data exists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#sieve-widget-help" role="tab">Help</a>
        </li>
    </ul>

    <div id="template-content">
        <div class="tab-content m-2">
            <div class="tab-pane fade show active" id="sieve-widget-metadataexiststest" role="tabpanel">

                <div class="form-group">
                    <label>The mailbox (folder) ...</label>
                    <input id="sivMailboxName" type="text" class="form-control form-control-sm col-lg-8" />
                    <label>... has all of the following annotations:</label>

                    <div id="sivMailboxAnnotationsList">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="sieve-widget-help" role="tabpanel">
                <p>Checks a mailbox for annotations</p>
                <p>
                    The test return true if all of the annotations exist (i.e., have non-NIL values) for the specified mailbox.
                </p>
            </div>
        </div>
    </div>
</div>