<!DOCTYPE html>

<!--

  The contents of this file are licenced. You may obtain a copy of 
  the license at https://github.com/thsmi/sieve/ or request it via 
  email from the author.
 
  Do not remove or change this comment.
  
  The initial author of the code is:
    Thomas Schmid <schmid-thomas@gmx.net>

-->

<html>

<head>
    <meta charset="UTF-8">
    <title>Server Meta Data test</title>
</head>

<body>

    <div id="sivMailboxDialog" class="dialog">

        <div>
            <!-- System -->
            <div id="sivEditMain">
                <!-- Appbar -->
                <div class="dialog-header">
                    <div class="dialog-tab">
                        <div class="tab-active" data-tab-content="sivMailboxGeneralContent">BASIC</div>
                        <div data-tab-content="sivMailboxAdvancedContent">ADVANCED</div>
                        <div data-tab-content="sivMailboxHelpContent">HELP</div>
                    </div>
                </div>
                <!-- content -->
                <div class="dialog-tab-content">
                    <!-- content for help tab -->
                    <div id="sivMailboxHelpContent">
                        <h1></h1>
                        <p></p>
                    </div>

                    <!-- content for advanced tab -->
                    <div id="sivMailboxAdvancedContent">
                        <div id="sivMailboxComparator"></div>
                    </div>

                    <!-- content for general tab -->
                    <div id="sivMailboxGeneralContent" class="tab-active">
                        <h1>The server annotation ...</h1>
                        <input id="sivAnnotationName" type="text"></input>

                        <h1>... has a value which ...</h1>

                        <div id="sivMailboxMatchTypes"> </div>

                        <h1>... any of the following keys:</h1>
                        <div id="sivMailboxKeys" data-list-new="#sivMailboxKeysAdd" data-list-items="#sivMailboxKeysItems" data-list-template="#sivMailboxKeysTemplate"
                            data-list-min="1">

                            <div id="sivMailboxKeysTemplate" style="display:none">
                                <div>
                                    <input type="text" />
                                    <button>remove</button>
                                </div>
                            </div>
                            <div id="sivMailboxKeysItems">
                                <div>
                                    <button id="sivMailboxKeysAdd">add</button>
                                </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>