<div>
    <ul id="template-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#sieve-widget-reject" role="tab">Reject</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#sieve-widget-help" role="tab">Help</a>
        </li>
    </ul>

    <div id="template-content">
        <div class="tab-content m-2">
            <div class="tab-pane fade show active" id="sieve-widget-reject" role="tabpanel">

                <div class="alert alert-warning" role="alert">
                    Reject is unsafe and was replaced by the ereject.
                </div>

                <div class="form-group">
                    <label>Reject incoming messages and reply the following reason:</label>
                    <textarea class="form-control" id="sivRejectReason" rows="7"> </textarea>
                </div>

            </div>
            <div class="tab-pane fade" id="sieve-widget-help" role="tabpanel">
                Reject is replaced by the ereject and should not be used anymore,
                because it is unsafe. The ereject action is similar to
                reject, but will always favor protocol-level message rejection.
            </div>
        </div>
    </div>
</div>