<div>
  <ul id="template-tabs">
    <li class="nav-item">
      <a data-i18n="servermetadata.tab.home" class="nav-link active" data-toggle="tab" href="#sieve-widget-stringtest" role="tab"></a>
    </li>
    <li class="nav-item">
      <a data-i18n="servermetadata.tab.advanced" class="nav-link" data-toggle="tab" href="#sieve-widget-advanced" role="tab"></a>
    </li>
    <li class="nav-item">
      <a data-i18n="servermetadata.tab.help" class="nav-link" data-toggle="tab" href="#sieve-widget-help" role="tab"></a>
    </li>
  </ul>

  <div id="template-content">
    <div class="tab-content m-2">
      <div class="tab-pane fade show active" id="sieve-widget-stringtest" role="tabpanel">

        <div class="mb-3">
          <h5 data-i18n="servermetadata.annotation"></h5>
          <input id="sivAnnotationName" type="text" class="form-control form-control-sm col-lg-8" />

          <h5 data-i18n="servermetadata.matchtype"></h5>
          <div id="sivMailboxMatchTypes"> </div>

          <h5 data-i18n="servermetadata.keys"></h5>
          <div id="sivMailboxKeys"></div>

        </div>
      </div>
      <div class="tab-pane fade" id="sieve-widget-advanced" role="tabpanel">
        <div id="sivMailboxComparator"> </div>
      </div>
      <div data-i18n="servermetadata.help" style="white-space: pre-line" class="tab-pane fade" id="sieve-widget-help" role="tabpanel">
      </div>
    </div>
  </div>
</div>