<div>
    <ul id="template-tabs">
        <li class="nav-item">
            <a data-i18n="metadataexists.tab.home" class="nav-link active" data-toggle="tab" href="#sieve-widget-metadataexiststest" role="tab"></a>
        </li>
        <li class="nav-item">
            <a data-i18n="metadataexists.tab.help" class="nav-link" data-toggle="tab" href="#sieve-widget-help" role="tab">Help</a>
        </li>
    </ul>

    <div id="template-content">
        <div class="tab-content m-2">
            <div class="tab-pane fade show active" id="sieve-widget-metadataexiststest" role="tabpanel">

                <div class="mb-3">
                    <label data-i18n="metadataexists.folder"></label>
                    <input id="sivMailboxName" type="text" class="form-control form-control-sm col-lg-8" />
                    <label data-i18n="metadataexists.annotations"></label>

                    <div id="sivMailboxAnnotationsList">
                    </div>
                </div>
            </div>
            <div data-i18n="metadataexists.help" style="white-space: pre-line" class="tab-pane fade" id="sieve-widget-help" role="tabpanel">
            </div>
        </div>
    </div>
</div>