<div>
  <div class="input-group input-group mb-1 string-list-item-template">
    <input type="text" class="form-control col-lg-8" />
    <button type="button" class="sieve-stringlist-dropdown d-none btn btn-outline-secondary dropdown-toggle-split"
      data-toggle="dropdown">
      <span class="sivIconMore"></span>
    </button>
    <button type="button" class="sieve-stringlist-delete btn btn-outline-secondary">
      <span class="sivIconDelete"></span>
    </button>
  </div>

  <div>
    <button data-i18n="stringlist.add" class="sieve-stringlist-add btn btn-sm btn-outline-secondary"></button>
  </div>

</div>