<div id="template">
  <div class="input-group input-group-sm mb-1 string-list-item-template">
    <input type="text" class="form-control col-lg-8" />
    <div class="input-group-append">
      <button type="button" class="sieve-stringlist-dropdown d-none btn btn-outline-secondary material-icons dropdown-toggle-split" data-toggle="dropdown">
          more_horiz
      </button>
      <button type="button" class="sieve-stringlist-delete btn btn-outline-secondary material-icons" style="size:15px">
        delete
      </button>
    </div>
  </div>

  <div>
    <button class="sieve-stringlist-add btn btn-sm btn-outline-secondary">Add</button>
  </div>

</div>