<div id="accordion">
  <div class="card">
    <div data-i18n="sidebar.actions" class="card-header" data-toggle="collapse" data-target="#collapseOne"></div>
    <div class="collapse show" data-parent="#accordion" id="collapseOne">
      <div class="card-body p-2" id="sivActions"></div>
    </div>
    <div data-i18n="sidebar.tests" class="card-header" data-toggle="collapse" data-target="#collapseTwo"></div>
    <div class="collapse" data-parent="#accordion" id="collapseTwo">
      <div class="card-body p-2" id="sivTests"></div>
    </div>
    <div data-i18n="sidebar.operators" class="card-header" data-toggle="collapse" data-target="#collapseThree"></div>
    <div class="collapse" data-parent="#accordion" id="collapseThree">
      <div class="card-body p-2" id="sivOperators"></div>
    </div>
  </div>

  <div id="sivTrash"></div>
</div>