<div>
  <ul id="template-tabs">
    <li class="nav-item">
      <a data-i18n="body.tab.home" class="nav-link active" data-toggle="tab" href="#sieve-widget-bodytest"
        role="tab"></a>
    </li>
    <li class="nav-item">
      <a data-i18n="body.tab.transform" class="nav-link" data-toggle="tab" href="#sieve-widget-transform" role="tab"></a>
    </li>
    <li class="nav-item">
      <a data-i18n="body.tab.advanced" class="nav-link" data-toggle="tab" href="#sieve-widget-advanced" role="tab"></a>
    </li>
    <li class="nav-item">
      <a data-i18n="body.tab.help" class="nav-link" data-toggle="tab" href="#sieve-widget-help" role="tab"></a>
    </li>
  </ul>

  <div id="template-content">
    <div class="tab-content m-2">
      <div class="tab-pane fade show active" id="sieve-widget-bodytest" role="tabpanel">

        <div class="mb-3">
          <h5 data-i18n="body.matchtypes"></h5>
          <div id="sivBodyMatchTypes"> </div>

          <h5 data-i18n="body.keylist"></h5>
          <div id="sivBodyKeyList"> </div>

        </div>
      </div>
      <div class="tab-pane fade" id="sieve-widget-transform" role="tabpanel">
        <h5 data-i18n="body.transform"></h5>
        <div id="sivBodyTransform"> </div>
      </div>

      <div class="tab-pane fade" id="sieve-widget-advanced" role="tabpanel">
        <div id="sivBodyComparator"> </div>
      </div>
      <div data-i18n="body.help" style="white-space: pre-line" class="tab-pane fade form-text" id="sieve-widget-help"
        role="tabpanel"></div>
    </div>
  </div>
</div>