<div>
  <div id="test42">
    <div class="form-group sieve-modifier">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" name="modifier/10" value=":length" class="custom-control-input" id="cbxModifier10" />
        <label class="custom-control-label" for="cbxModifier10">
          <div>Count characters</div>
          <small class="form-text text-muted">
            Variables are expanded before determining the number of characters.</small>
        </label>
      </div>
    </div>
  </div>
</div>