<div>
  <div id="test42">

    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" name="modifier/20" value=":quotewildcard" class="custom-control-input" id="cbxModifier20" />
        <label class="custom-control-label" for="cbxModifier20">
          <div>Escape Wildcards</div>
          <small class="form-text text-muted">
            Ensures that the expanded text will only match a literal occurrence if used as a parameter to :matches.
            Every character with
            special meaning ("*", "?", and "\") is prefixed with "\" in the expansion.</small>
        </label>
      </div>
    </div>
  </div>
</div>