<div>
  <div class="dropdown-item" href="#">
    <div class="row">
      <h5 class="col-auto" data-i18n="matchtype.count.title"></h5>
      <div class="col-auto">
        <select class="form-select form-select-sm sieve-matchtype-count-relational">
          <option data-i18n="matchtype.count.greater" value=':value "gt"'></option>
          <option data-i18n="matchtype.count.greaterEqual" value=':value "ge"'></option>
          <option data-i18n="matchtype.count.less" value=':value "lt"'></option>
          <option data-i18n="matchtype.count.lessEqual" value=':value "le"'></option>
          <option data-i18n="matchtype.count.equal" value=':value "eq"'></option>
          <option data-i18n="matchtype.count.notEqual" value=':value "ne"'></option>
        </select>
      </div>
      <h5 class="col-auto" data-i18n="matchtype.count.title2"></h5>
    </div>

    <small class="form-text text-muted" data-i18n="matchtype.count.text"></small>
  </div>
</div>