<div>
  <div class="dropdown-item" href="#">
    <div class="row">
      <h5 class="col-auto" data-i18n="matchtype.value.title"></h5>
      <div class="col-auto">
        <select class="form-select form-select-sm sieve-matchtype-value-relational">
          <option value=':value "gt"' data-i18n="matchtype.value.greater"></option>
          <option value=':value "ge"' data-i18n="matchtype.value.greaterEqual"></option>
          <option value=':value "lt"' data-i18n="matchtype.value.less"></option>
          <option value=':value "le"' data-i18n="matchtype.value.lessEqual"></option>
          <option value=':value "eq"' data-i18n="matchtype.value.equal"></option>
          <option value=':value "ne"' data-i18n="matchtype.value.notEqual"></option>
        </select>
      </div>
        <h5 class="col-auto" data-i18n="matchtype.value.title2"></h5>
    </div>

    <small class="form-text text-muted" data-i18n="matchtype.value.text"></small>
  </div>
</div>