<div>
  <div id="test42">
    <div>
      <div class="form-row align-items-center mt-2">
        <div class="col-auto">
          <div class="custom-control custom-radio mr-sm-2">
            <input type="radio" class="custom-control-input sieve-matchtype-radio"
            name="sieve-matchtype"
            data-matchtype="match-type/matches"
            value=":matches"
            id="sieve-matchtype-matches">
            <label class="custom-control-label" for="sieve-matchtype-matches">
              <h5>... matches ...</h5>
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <small class="ml-4">"*" matches zero or more characters, and "?" matches a single character <br>
         "frobnitzm" matches "frob*zm" or "frobnit?m" but not frob?m</small>
      </div>
    </div>
  </div>
</div>