<div>
  <div id="test42">
    <div>
      <div class="form-row align-items-center mt-2">
        <div class="col-auto">
          <div class="custom-control custom-radio mr-sm-2">
            <input type="radio" class="custom-control-input sieve-matchtype-radio" name="sieve-matchtype" id="sieve-matchtype-contains" value=":contains"
            data-matchtype="match-type/contains">
            <label class="custom-control-label" for="sieve-matchtype-contains">
              <h5>... contains ...</h5>
            </label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <small class="ml-4">"frobnitzm" contains "frob" and "nit", but not "fbm"</small>
      </div>
    </div>
  </div>
</div>