<template id="test42">
  <div class="form-row align-items-center mt-2">
    <div class="col-auto">
      <div class="custom-control custom-radio mr-sm-2">
        <input type="radio" class="custom-control-input sieve-matchtype-radio" name="sieve-matchtype" data-matchtype="match-type/is"
          value=":is" id="sieve-matchtype-is" />
        <label class="custom-control-label" for="sieve-matchtype-is">
          <h5>... is ...</h5>
        </label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <small class="ml-4 text-muted">Only "frobnitzm" is "frobnitzm"</small>
  </div>
</template>