<div>
  <ul id="template-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#sieve-widget-envelope-test" role="tab">Envelope</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sieve-widget-advanced" role="tab">Advanced</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sieve-widget-help" role="tab">Help</a>
    </li>
  </ul>

  <div id="template-content">
    <div class="tab-content m-2">
      <div class="tab-pane fade show active" id="sieve-widget-envelope-test" role="tabpanel">
        <div class="form-group">
          <h5>Any of the following envelope fields ...</h5>

          <div id="sivEnvelopeList"
               data-list-dropdown="#sivEnvelopeListTemplate">
          </div>

          <div id="sivEnvelopeListTemplate" class="d-none">
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button">From</button>
              <button class="dropdown-item" type="button">To</button>
            </div>
          </div>

          <hr />
          <div id="sivEnvelopeMatchTypes"> </div>
          <hr />
          <div id="sivEnvelopeAddressPart"> </div>
          <hr />

          <h5>... any of the keyword(s):</h5>
          <div id="sivEnvelopeKeyList">
          </div>

        </div>
      </div>
      <div class="tab-pane fade" id="sieve-widget-advanced" role="tabpanel">
        <div id="sivEnvelopeComparator"> </div>
      </div>
      <div class="tab-pane fade" id="sieve-widget-help" role="tabpanel">
        <p>Compares fields against the envelope</p>
        <p>The envelop is equivalent to the mail delivery protocol. So it does not test against a real header. Instead uses
          trace information from the mail delivery protocol for specific values.</p>
        <p>A "to" tests the SMTP sender field "RCPT TO" a "from" the recipient "MAIL FROM". </p>
        <p>It is the most reliant way to test from which address a message was send to or received.</p>

        <p>Compares headers against constant strings.</p>
        <p>You typically use this test with headers containing subject line or a spam score.</p>
        <p>Do not use this test, if the header should be matched against a mail addresses. The result will be unrealiable, as
          this test is not aware of display names. Use the address test instead.
        </p>
      </div>
    </div>
  </div>
</div>