<template id="test42">

  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" name="sieve-comparator" id="sieve-comparator-ascii-casemap" value='"i;ascii-casemap"'
    />
    <label class="custom-control-label" for="sieve-comparator-ascii-casemap">
      Case insensitive (default)
    </label>
    <div>
      <small class="form-text text-muted">
        Treats uppercase and lowercase ASCII characters as the same.<br/>
        All non ASCII characters are compared byte by byte.
      </small>
    </div>
  </div>

</template>