<div>
    <div id="test42">
      <div class="custom-control custom-radio">
        <input type="radio" id="sivAddressPartLocal" name="sieve-addresspart" value=":local" class="custom-control-input" />
        <label class="custom-control-label" for="sivAddressPartLocal">
          <h5>... a local part with ...</h5>
          <small class="form-text text-muted">
              Everything before the @ sign. The local part is case sensitive.<br />
              e.g.: "me@example.com" is stripped to "me"
          </small>
        </label>
      </div>
    </div>
  </div>