   .dialogTab  {
      color:#757575; 
      text-weight: 500; 
      height:64px; 
      padding:0px; 
      margin:0px; 
      display:flex; 
      justify-content:center; 
      width:100%;
    }
    
    .dialogTab > div {
      color: rgba(255,255,255,0.7);
      min-width:160px;
      max-width: 264px;
      height:48px;
      /*padding-left: 12px;
      padding-right:12px;*/
      text-align:center;
      font-size: 15px;
      vertical-align: middle;
      /*display: inline-block;*/
      line-height: 48px;
      margin-top:16px;
      flex:1;
    }
    
     .dialogTab > div.tab-active {
      color: #FFFFFF;
       height:46px;  
       border-bottom: 2px solid #FFFFFF;
     }
     
     .tab-content {
       max-height:400px;
        overflow: auto;
        padding-left:16px; 
        padding-right:16px;
     }
     
     .tab-content > div {
       display: none;
     }
     
     .tab-content  > div.tab-active {
       display: inherit;     
     }
     
     #sivDialogContent {
       padding:0px;
     }
	 
.tab-content h1 {
  font-size: 13px;
  color: rgba(0,0,0,0.53);
}

.tab-content {
  padding-bottom : 16px;
  /*min-height: 300px;*/
}
