body {
  margin:0px;
}

#content {
  padding: 0px 10px;
  margin-left: 180px;
}

#toolbar {
  position: fixed;
  width: 170px;
  overflow-x: hidden;
}

#toolbar .SivElement {
   width:140px;
}

#sivTrash .sivTrashBin
{
  height: 80px;
  min-width:80px;
  background-color:transparent;
  background-image:url('trash.png');
  background-repeat:no-repeat;
  background-position:center center;
}

#sivTrash .sivTrashBin[data-sieve-dragging]
{
  background-image:url('trash-full.png');
}
