
.sivConditionText,
.sivConditionalText,
div[sivtype] > .sivSummaryContent
{
  border: 1px #DDE4E9 solid;
  background-color: #F3F6F7;
  padding-left:3px;

  cursor: default;
}

/* Style all interactive Elements */
.sivEditableElement[sivtype] > .sivSummaryContent {
  background-image: url('edit.png');
  background-repeat: no-repeat;
  background-position: right center ;
}

.sivEditableElement[sivtype] > .sivSummaryContent:hover
{
  border: 1px red #EDEDED solid;
  background-color: white;
  box-shadow: 0 0 7px gray;
}


div[sivtype][sivDragging="true"] {
  border-radius: 2px;
  box-shadow: 0 0 5px red;
}

.sivSummaryContent em{
  font-family:courier;
  font-style:normal;
}


  .sivEditableElement h1 {
    font-size:1em;
    padding:0px;
    margin:0px;
  }


/* Blocks */

.sivBlock > .sivBlockChild:nth-last-of-type(2),
.sivOperator > .sivOperatorChild:nth-last-of-type(2)
{
  background-image: url('hline.png');
  background-position: 2px top;
  background-repeat: no-repeat;
}


.sivBlock > .sivBlockSpacer:nth-last-of-type(1),
.sivOperator > .sivOperatorSpacer:nth-last-of-type(1)
{
  background-image: none;
  padding-bottom: 0px;
}

.sivBlockChild,
.sivOperatorChild
{
  background-image: url('vline.png'), url('hline.png');
  background-position:  -7px center, 2px top;
  background-repeat: repeat-y, no-repeat;
}

.sivConditionChild,
.sivConditionSpacer:not(:first-of-type) {
  background-image: url('vline2.png');
  background-position:  -4px center;
  background-repeat: repeat-y;
}

.sivBlockChild,
.sivOperatorChild,
.sivConditionChild {
  padding-left:15px;
}

.sivConditionalChild {
  padding:3px;
  background-color: #E8EDF0;
  border: 1px #DDE4E9 solid
}

/* Dropmarkers*/
.sivBlockSpacer,
.sivOperatorSpacer
{
  background-image: url('vline.png');
  background-position:  -7px top;
  background-repeat: repeat-y;

  padding:2px 0px 2px 0px;
}

.sivConditionSpacer{
  padding:0px;
}


.sivBlockSpacer > .sivDropBox,
.sivOperatorSpacer > .sivDropBox,
.sivConditionSpacer > .sivDropBox
{
  height: 3px;
}

.sivBlockSpacer[sivDragging="true"] > .sivDropBox,
.sivConditionSpacer[sivDragging="true"] > .sivDropBox,
.sivOperatorSpacer[sivDragging="true"] > .sivDropBox
 {
  background-color : red;
  background-image: -moz-linear-gradient(rgba(255,255,255,.25), rgba(0,0,0,.15));
  box-shadow: 0 0 5px red;
}

#sivActions > div[sivtype]
{
  margin:2px 10px;
  padding:0px 3px;
  background-color: lightgray;
  border-radius:3px;
  border: 1px solid gray;
}



