
.sivAction[data-sieve-flavour],
.sivConditionText,
.sivConditionCode {
  border: 1px #dde4e9 solid;
  background-color: #f3f6f7;
  padding-left: 3px;

  cursor: default;
}

.sivConditionCode code {
  flex: auto 1 1;
  white-space: pre-wrap;
}

.sivConditionCode,
.sivConditionText,
.sivEditableElement[data-sieve-flavour],
.sivEditableElement {
  display: flex;
  flex-direction: row;
}

.sivEditableElement > .sivSummaryContent,
.sivEditableElement > .sivSummaryCode {
  flex: 1 1 auto;
}

.sivEditableElement > .sivSummaryCode > code {
  white-space: pre-wrap;
}

.sivSummaryControls {
  padding-left: 10px;
  color: lightslategray;
}

.sivOperator > ul {
  margin-bottom: inherit;
}

.sivEditableElement:hover {
  border: 1px red #ededed solid;
  background-color: white;
  box-shadow: 0 0 7px gray;
}


div[data-sieve-flavour][data-sieve-dragging] {
  border-radius: 2px;
  box-shadow: 0 0 5px red;
}

.sivSummaryContent em {
  font-family: courier, serif;
  font-style: normal;
}

.sivEditableElement h1 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.sivTest {
  font-size: 0.9em !important;
}


/* Dropmarkers */
.sivBlockSpacer {
  padding: 2px 0 2px 0;
}

.sivBlock > .sivBlockSpacer:nth-last-of-type(1) {
  background-image: none;
  padding-bottom: 0;
}

.sivConditionSpacer:not(:first-of-type) {
  background-image: url('vline2.png');
  background-position: -4px center;
  background-repeat: repeat-y;
}

/*.sivConditionText {
  background-color: #e8edf0;
  border: 1px #dde4e9 solid;
}*/

/*.sivCondition > .sivSummaryContent,*/
.sivCondition > .sivConditionCode
{
  background-color: #e8edf0;
  border: 1px #dde4e9 solid;
}

.sivBlockChild {
  padding-left: 15px;
}

.sivConditionalChild {
  padding: 3px 0 3px 3px;
}

.sivConditionSpacer {
  padding: 0;
}

.sivBlockSpacer,
.sivOperatorSpacer,
.sivConditionSpacer {
  height: 6px;
}

.sivBlockSpacer > div,
.sivConditionSpacer > div,
.sivOperatorSpacer > div {
  height: 3px;
}

.sivBlockSpacer[data-sieve-dragging],
.sivConditionSpacer[data-sieve-dragging],
.sivOperatorSpacer[data-sieve-dragging] {
  background-color: red;
  background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.15));
  box-shadow: 0 0 5px red;
}

#toolbar div[data-sieve-flavour] {
  margin: 2px 5px;
  padding: 0 3px;
  background-color: lightgray;
  border-radius: 3px;
  border: 1px solid gray;
}
