@import url("chrome://messenger/skin/");
@import url("chrome://global/skin/toolbar.css");


 /* the surrounding box */
 .sivEditor
 {
	 background-color: -moz-Field;
	/* -moz-appearance: textfield*/
 }

 .sivEditor textbox
 {
     -moz-appearance: none !important;
     margin: 0px !important;
     border: none !important;
     padding: 2px !important;

	   font-family: monospace;
     color: -moz-fieldtext;
     font-size: 12px;
 }


#sideBarTitle2
{
	height: 20px;
	background: url(chrome://sieve/content/images/sidebarTitle.png) repeat;
	-moz-appearance: none;
}


#StatusWait
{
  background: white;
  font-weight: bold;
  color: darkgray;
}

#StatusError
{
  background-color: white;
  color: black;
}

.sivError
{
	background-color: #ffe6e6;
	border: 1px solid black;
	padding: 5px;
	margin-top : 5px;
	border-radius: 5px;
}

/*#sivExplorerError description
{
	white-space: pre;
}*/


#sivAutoConfig
{
  max-width: 430px;
  color: black;
  background-color: white;

  padding: 20px;

  border: 1px solid ThreeDShadow;
  border-radius: 5px;
}

#sivAutoConfigInfo
{
  padding-left: 40px;
  background: url(chrome://sieve/content/images/syntax-ok.png) no-repeat 0px 0px;
}

#sivAutoConfigWait
{
  padding-left: 40px;
  background: url(chrome://sieve/content/images/load.gif) no-repeat 0px 0px;
}

#sivAutoConfigError
{
  padding-left: 40px;
  background: url(chrome://sieve/content/images/syntax-warning.png) no-repeat 0px 0px;
}

.sivExplorerWarning
{
  background-color: white;
  color:black;
}

.sivWarningBar
{
	background-image: -moz-linear-gradient(bottom, #ffdd66, #ffeb7d);
	border-bottom: 1px solid black;

	padding :5px;
	margin: 0px;
}

.sivWarning
{
	background-image: -moz-linear-gradient(bottom, #ffdd66, #ffeb7d);
	/*background-color: #FFFFCC;*/
	border: 1px solid black;
	padding: 5px;
	margin-top : 5px;
	border-radius: 5px;
}

#StatusWarning description
{
	white-space: pre;
}

.sieveSideBar stack image
{
	list-style-image: url(chrome://sieve/content/images/sidebarTitle.png);
}

.sieveSideBar deck image
{
	background: url(chrome://sieve/content/images/load.gif) no-repeat center;
	background-color: white;
}

.sieveSideBar stack
{
	margin: 0px;
	padding: 0px;
  height: 20px;
}

#imgErrorBar
{
	padding: 5px;
}
#vbServerDetails spacer {
  background-color: #FFFFFF;
  opacity: 0.5;
}

#vbServerDetails textbox {
  background-color: transparent;
}

#btnServerDetails
{
	border: 0px !important;
  background-color: transparent;
  -moz-appearance: none;
}

.toolbarbutton-1[type="menu"] {
    -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#menu-vertical") !important;
 }

.toolbarbutton-1
{
   -moz-box-orient: vertical;
   min-width: 0px;
}

#btnSave
{
	list-style-image: url(chrome://sieve/content/images/toolbar.save.png);
}

#btnViewSource
{
	list-style-image: url(chrome://sieve/content/images/toolbar.source.png);
}

#btnUndo
{
	list-style-image: url(chrome://sieve/content/images/toolbar.undo.png);
}

#btnRedo
{
	list-style-image: url(chrome://sieve/content/images/toolbar.redo.png);
}

#btnCopy
{
	list-style-image: url(chrome://sieve/content/images/toolbar.copy.png);
}

#btnCut
{
	list-style-image: url(chrome://sieve/content/images/toolbar.cut.png);
}

#btnPaste
{
	list-style-image: url(chrome://sieve/content/images/toolbar.paste.png);
}

#btnCompile
{
	list-style-image: url(chrome://sieve/content/images/toolbar.compile.png);
}

#btnSearchBar
{
  list-style-image: url(chrome://sieve/content/images/toolbar.search.png);
}

#btnTools
{
	list-style-image: url(chrome://sieve/content/images/toolbar.tools.png);
}

#btnDonate
{
	cursor:pointer;
	background: url(chrome://sieve/content/images/btn_donate_LG.gif) no-repeat center center;
	width: 96px;
    height: 26px;
}

#btnReference
{
	list-style-image: url(chrome://sieve/content/images/toolbar.reference.png);
}

#btnSideBarBack
{
  list-style-image: url(chrome://sieve/content/images/toolbar.back.png);
}

#btnSideBarForward
{
  list-style-image: url(chrome://sieve/content/images/toolbar.forward.png);
}

#btnSideBarHome
{
  list-style-image: url(chrome://sieve/content/images/toolbar.home.png);
}

.spVertical{
  border: none;
  border-right: 1px solid #A9B7C9;
  min-width: 0;
  width: 5px;
  background-color: transparent;
  margin-left: -5px;
  position: relative;
  z-index: 10;
  transition: border-width .3s ease-in;
}

#spErrorBar {
  border: none;
  border-bottom: 1px solid #A9B7C9;
  min-height: 0;
  height: 5px;
  background-color: transparent;
  margin-top: -5px;
  position: relative;
  z-index: 10;
  transition: border-width .3s ease-in;
}

#vbErrorBar  {
	background: #f8f8f8;
  border-bottom: none;
	min-height: 50px;
}

