<div>
    <ul id="template-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#sieve-widget-global" role="tab">Global</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#sieve-widget-help" role="tab">Help</a>
        </li>
    </ul>
    <div id="template-content">
        <div class="tab-content m-2">
            <div class="tab-pane fade show active" id="sieve-widget-global" role="tabpanel">
                <div class="form-group">
                    <label>Export variables into the global namespace:</label>
                    <div id="sivIncludeGlobalListTemplate" style="display:none">
                        <div class="input-group input-group-sm mb-1">
                            <input type="text" class="form-control form-control col-lg-8">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary far sieve-stringlist-delete">
                                    &#xf2ed;
                                </button>
                            </div>
                        </div>
                    </div>

                    <div id="sivIncludeGlobalList" data-list-new="#sivIncludeGlobalListAdd" data-list-template="#sivIncludeGlobalListTemplate"
                        data-list-min="1"></div>
                    <div>
                        <button id="sivIncludeGlobalListAdd" class="btn btn-outline-secondary">add</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="sieve-widget-help" role="tabpanel">
            </div>
        </div>
    </div>
</div>