<div>
  <ul id="template-tabs">
    <li class="nav-item">
      <a data-i18n="boolean.tab.home" class="nav-link active" data-toggle="tab" href="#sieve-widget-test"
        role="tab"></a>
    </li>
    <li class="nav-item">
      <a data-i18n="boolean.tab.help" class="nav-link" data-toggle="tab" href="#sieve-widget-help" role="tab"></a>
    </li>
  </ul>

  <div id="template-content">
    <div class="tab-content m-2">
      <div class="tab-pane fade show active" id="sieve-widget-test" role="tabpanel">

        <div class="mb-3">
          <label data-i18n="boolean.label"></label>

          <div class="form-check">
            <input type="radio" id="SieveBooleanTrue" name="booleanValue" value="test/boolean/true"
              class="form-check-input" />
            <label data-i18n="boolean.true" class="form-check-label" for="SieveBooleanTrue"></label>
          </div>
          <div class="form-check">
            <input type="radio" id="SieveBooleanFalse" name="booleanValue" value="test/boolean/false"
              class="form-check-input" />
            <label data-i18n="boolean.false" class="form-check-label" for="SieveBooleanFalse"></label>
          </div>
        </div>

      </div>
      <div data-i18n="boolean.help" class="tab-pane fade" id="sieve-widget-help" role="tabpanel">
      </div>
    </div>
  </div>
</div>