<div>
    <ul id="template-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-i18n="redirect.tab.home" data-toggle="tab" href="#sieve-widget-redirect" role="tab"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-i18n="redirect.tab.help" data-toggle="tab" href="#sieve-widget-help" role="tab"></a>
        </li>
    </ul>

    <div id="template-content">
        <div class="tab-content m-2">
            <div class="tab-pane fade show active" id="sieve-widget-redirect" role="tabpanel">
                <form class="was-validated" novalidate="novalidate">
                    <div class="mb-3">
                        <label data-i18n="redirect.address.label" class="form-label"></label>
                        <input id="sivRedirectAddress" type="email"
                               class="form-control col-lg-8"
                               data-i18n="redirect.address.placeholder"
                               required="required" />
                        <div data-i18n="redirect.address.invalid" class="invalid-feedback"></div>
                    </div>
                </form>

                <div id="sivRedirectOverlay"> </div>
            </div>
            <div data-i18n="redirect.help" style="white-space: pre-line" class="tab-pane fade form-text" id="sieve-widget-help" role="tabpanel">
            </div>
        </div>
    </div>
</div>