<div>
  <ul id="template-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-i18n="exists.tab.home" data-toggle="tab" href="#sieve-widget-exists-test"
        role="tab"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-i18n="exists.tab.help" data-toggle="tab" href="#sieve-widget-help" role="tab"></a>
    </li>
  </ul>

  <div id="template-content">
    <div class="tab-content m-2">
      <div class="tab-pane fade show active" id="sieve-widget-exists-test" role="tabpanel">
        <p data-i18n="exists.header.label"></p>
        <div class="mb-3">
          <div id="sivExistsHeaderList" data-list-dropdown="#sivExistsHeaderListTemplate">
          </div>

          <div id="sivExistsHeaderListTemplate" class="d-none">
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button">To</button>
              <button class="dropdown-item" type="button">From</button>
              <button class="dropdown-item" type="button">Cc</button>
              <button class="dropdown-item" type="button">Bcc</button>
              <button class="dropdown-item" type="button">Reply-To</button>
            </div>
          </div>

        </div>
      </div>
      <div data-i18n="exists.help.text" style="white-space: pre-line" class="tab-pane fade" id="sieve-widget-help" role="tabpanel"></div>
    </div>
  </div>
</div>