<div>
  <ul id="template-tabs">
    <li class="nav-item">
      <a data-i18n="allofanyof.tab.home" class="nav-link active" data-toggle="tab" href="#sieve-widget-allofanyof" role="tab"></a>
    </li>
    <li class="nav-item">
      <a data-i18n="allofanyof.tab.help" class="nav-link" data-toggle="tab" href="#sieve-widget-help" role="tab"></a>
    </li>
  </ul>

  <div id="template-content">
    <div class="tab-content m-2">
      <div class="tab-pane fade show active" id="sieve-widget-allofanyof" role="tabpanel">

        <div class="mb-3">
          <label data-i18n="allofanyof.label"></label>

          <div class="form-check">
            <input type="radio" id="SieveAllOf" name="allofanyof" value="true" class="form-check-input" />
            <label data-i18n="allofanyof.allof" class="form-check-label" for="SieveAllOf"></label>
          </div>
          <div class="form-check">
            <input type="radio" id="SieveAnyOf" name="allofanyof" value="false" class="form-check-input" />
            <label data-i18n="allofanyof.anyof" class="form-check-label" for="SieveAnyOf"></label>
          </div>
        </div>

      </div>
      <div data-i18n="allofanyof.help" class="tab-pane fade" id="sieve-widget-help" role="tabpanel">
      </div>
    </div>
  </div>
</div>
