<div>
  <ul id="template-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-i18n="header.tab.home" data-toggle="tab" href="#sieve-widget-headertest" role="tab"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-i18n="header.tab.advanced" data-toggle="tab" href="#sieve-widget-advanced" role="tab"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-i18n="header.tab.help" data-toggle="tab" href="#sieve-widget-help" role="tab"></a>
    </li>
  </ul>

  <div id="template-content">
    <div class="tab-content m-2">
      <div class="tab-pane fade show active" id="sieve-widget-headertest" role="tabpanel">
        <div class="mb-3">
          <h5 data-i18n="header.header"></h5>

          <div id="sivHeaderHeaderList"
               data-list-dropdown="#sivHeaderHeaderListTemplate">
          </div>

          <div id="sivHeaderHeaderListTemplate" class="d-none">
            <div class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item" type="button">Subject</button>
              <button class="dropdown-item" type="button">Date</button>
              <button class="dropdown-item" type="button">Message-ID</button>
              <button class="dropdown-item" type="button">Content-Type</button>
            </div>
          </div>

          <br/>
          <div id="sivHeaderMatchTypes"> </div>
          <br/>

          <h5 data-i18n="header.keywords"></h5>
          <div id="sivHeaderKeyList">
          </div>

        </div>
      </div>

      <div class="tab-pane fade" id="sieve-widget-advanced" role="tabpanel">
        <div id="sivHeaderComparator"> </div>
      </div>

      <div data-i18n="header.help" style="white-space: pre-line" class="tab-pane fade form-text" id="sieve-widget-help" role="tabpanel">
      </div>
    </div>
  </div>
</div>