<div>
  <ul id="template-tabs">
    <li class="nav-item">
      <a data-i18n="reject.tab.home" class="nav-link active" data-toggle="tab" href="#sieve-widget-reject"
        role="tab"></a>
    </li>
    <li class="nav-item">
      <a data-i18n="reject.tab.help" class="nav-link" data-toggle="tab" href="#sieve-widget-help" role="tab"></a>
    </li>
  </ul>

  <div id="template-content">
    <div class="tab-content m-2">
      <div class="tab-pane fade show active" id="sieve-widget-reject" role="tabpanel">

        <div data-i18n="reject.deprecated" class="alert alert-warning" role="alert"></div>

        <div class="mb-3">
          <label data-i18n="reject.reject"></label>
          <textarea class="form-control" id="sivRejectReason" rows="7"> </textarea>
        </div>

      </div>
      <div data-i18n="reject.help" style="white-space: pre-line" class="tab-pane fade" id="sieve-widget-help"
        role="tabpanel"></div>
    </div>
  </div>
</div>