@import url("chrome://messenger/skin/");
@import url("chrome://global/skin/toolbar.css");
 
 
 /* the surrounding box */
 .sivEditor
 {
	 -moz-appearance: textfield
 }	 
 
 .sivEditor textbox
 {
     -moz-appearance: none !important;
     margin: 0px !important;
     border: none !important;
     padding: 2px !important;	 	 
	 
	   font-family: monospace;   
     color: -moz-fieldtext; 
     font-size: 12px;	
 }
 
 /* the editor */
 .sivEditor #sivContentEditor
 {
    background: url(chrome://sieve/content/images/splitter.png) repeat-y 650px 0px;    
	 
	 overflow:hidden;
 }
 
 .sivEditor #sivContentEditor textarea
 {	 
	 overflow-y:scroll;
	 overflow-x:scroll;
 }
 
 /* style the line numbers column  */
 .sivEditor #sivLineNumbers
 {
	 margin:0px;
	 padding:0px;  
	 
	 border: none; 
	 border-right: 1px groove; 
	 background:-moz-dialog;
 }
 
 .sivEditor #sivLineNumbers textbox
 { 
	 width:50px;  
	 background:-moz-dialog !important; 	 
	 overflow:hidden;
 }
 
/* the previous textbox contains an anonymous textarea... */
.sivEditor  #sivLineNumbers textarea 
{
	 overflow:hidden; 
	 text-align:right !important;  	 
} 
 
.sivEditor #sivLineNumbers  scrollbar
{
	 visibility:hidden;
	 width:50px;
}
 

#sideBarTitle2
{
	height: 20px;
	background: url(chrome://sieve/content/images/sidebarTitle.png) repeat;
	-moz-appearance: none;	
}


#sivExplorerWait
{
  background: white;
  font-weight: bold;
  color: darkgray;	
}

#sivExplorerError
{
	background-color: white	
}

.sivError
{
	background-color: #ffe6e6; 
	border: 1px solid black; 
	padding: 5px; 
	margin-top : 5px;
	-moz-border-radius: 5px;	
}

/*#sivExplorerError description
{
	white-space: pre;
}*/


#sivAutoConfig 
{
  max-width: 430px;
  background-color: white;
  border: 1px solid ThreeDShadow;
  padding: 20px;
   
  -moz-border-radius: 5px;  
}

#sivAutoConfigInfo 
{
  padding-left: 40px;
  background: url(chrome://sieve/content/images/syntax-ok.png) no-repeat 0px 0px;
}
                    
#sivAutoConfigWait
{
  padding-left: 40px;
  background: url(chrome://sieve/content/images/load.gif) no-repeat 0px 0px;
}

#sivAutoConfigError
{
  padding-left: 40px;
  background: url(chrome://sieve/content/images/syntax-warning.png) no-repeat 0px 0px;
}
                    
.sivExplorerWarning
{
  background-color: white		
}

.sivWarning
{
	background-color: #FFFFCC;
	border: 1px solid black; 
	padding: 5px; 
	margin-top : 5px;
	-moz-border-radius: 5px;	
}

#sivExplorerWarning description
{
	white-space: pre;
}

.sieveSideBar stack image
{
	list-style-image: url(chrome://sieve/content/images/sidebarTitle.png);
}

.sieveSideBar deck image
{
	background: url(chrome://sieve/content/images/load.gif) no-repeat center;
	background-color: white;
}

.sieveSideBar stack
{
	margin: 0px;
	padding: 0px;	
  height: 20px;
}

#imgErrorBar
{
	padding: 5px;
}
#vbServerDetails spacer {
  background-color: #FFFFFF;
  opacity: 0.5;
}

#vbServerDetails textbox {
  background-color: transparent;
}

#btnServerDetails 
{
	border: 0px !important;
  background-color: transparent;
  -moz-appearance: none;
}

#btnServerDetails description
{
	border:1px solid #0000ff;
}

.toolbarbutton-1[type="menu"] {
    -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#menu-vertical") !important;
 }

.toolbarbutton-1 
{
   -moz-box-orient: vertical;
   min-width: 0px;
}

#btnSave
{
	list-style-image: url(chrome://sieve/content/images/toolbar.save.png);
}

#btnUndo
{
	list-style-image: url(chrome://sieve/content/images/toolbar.undo.png);
}

#btnRedo
{
	list-style-image: url(chrome://sieve/content/images/toolbar.redo.png);
}

#btnCopy
{
	list-style-image: url(chrome://sieve/content/images/toolbar.copy.png);
}

#btnCut
{
	list-style-image: url(chrome://sieve/content/images/toolbar.cut.png);
}

#btnPaste
{
	list-style-image: url(chrome://sieve/content/images/toolbar.paste.png);
}

#btnCompile
{
	list-style-image: url(chrome://sieve/content/images/toolbar.compile.png);
}

#btnSearchBar
{
  list-style-image: url(chrome://sieve/content/images/toolbar.search.png);
}

#btnTools
{
	list-style-image: url(chrome://sieve/content/images/toolbar.tools.png);
}

#btnDonate
{
	cursor:pointer;
	background: url(chrome://sieve/content/images/btn_donate_LG.gif) no-repeat center center;
	width: 96px;
    height: 26px;
}

#btnPrint
{
	list-style-image: url(chrome://sieve/content/images/toolbar.print.png);
}	

#btnReference
{
	list-style-image: url(chrome://sieve/content/images/toolbar.reference.png);
}

#btnSideBarBack
{
  list-style-image: url(chrome://sieve/content/images/toolbar.back.png);
}

#btnSideBarForward
{
  list-style-image: url(chrome://sieve/content/images/toolbar.forward.png);
}	
	
#btnSideBarHome	
{
  list-style-image: url(chrome://sieve/content/images/toolbar.home.png);
}

.sieveCloseButton 
{
  border: 1px solid transparent;
  width: 17px;
  height: 17px;
  background: url(chrome://sieve/content/images/close.png) no-repeat 0 0;
  margin-right: 5px;
}

.sieveCloseButton:hover 
{
    background-image: url(chrome://sieve/content/images/closeHover.png);
}

.sieveCloseButton:hover:active 
{
    background-image: url(chrome://sieve/content/images/closeActive.png);
}