<div>
  <div id="test42">
    <div class="form-group sieve-modifier">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" name="modifier/15" value=":encodeurl" class="custom-control-input" id="cbxModifier15" />
        <label class="custom-control-label" for="cbxModifier15">
          <div>Url Encode</div>
          <small class="form-text text-muted">
            Url encodes the variable. This means it performs percent-encoding
            of any octet in the string that doesn't belong to the "unreserved" set (see [URI]).
          </small>
        </label>
      </div>
    </div>
  </div>
</div>